# Core book dependencies
jupyter-book
sphinx_2i2c_theme
github-activity
linkify-it-py
tomlkit

# To run the code
altair
geopandas
ghapi
ipywidgets
kaleido  # for image export with plotly
matplotlib
pandas
plotly_express
pyairtable
# Pydantic needs to be pinned for pyairtable, see issue: https://github.com/gtalarico/pyairtable/issues/411
pydantic~=2.9.1
pyarrow
rich
shapely
vega_datasets

# For developing
black
isort
itables
jupyterlab
jupyterlab-code-formatter
jupyterlab-myst
jupytext

# For loading grafana data
python-dotenv
dateparser
prometheus-pandas

# For downloading Google Sheets
openpyxl