# To run the code
altair
myst-nb
pyairtable
pandas
ghapi
github-activity
git+https://github.com/2i2c-org/sphinx-2i2c-theme
linkify-it-py
rich
sphinx-design
sphinx-togglebutton
tomlkit

# For developing
itables
jupyterlab
jupytext
jupyterlab-myst
