# To run the code
altair
geopandas
geopy
ghapi
github-activity
ipywidgets
kaleido  # for image export with plotly
linkify-it-py
matplotlib
myst-nb
pandas
plotly_express
pyairtable
pyarrow
rich
shapely
git+https://github.com/2i2c-org/sphinx-2i2c-theme
sphinx-design
sphinx-togglebutton
tomlkit
vega_datasets

# For developing
jupyterlab-code-formatter
black
isort
itables
jupyterlab
jupytext
jupyterlab-myst

# For loading grafana data
python-dotenv
dateparser
prometheus-pandas

# For downloading Google Sheets
openpyxl